Portfolio/js/n8n automation.json
{
  "name": "n8n automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "dd90cf94-241a-49ab-91b9-30f33b056f7a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1d_HoOoRvXJw54eL35Vs69D6krqcXvx3Js6TTj6SnVls",
          "mode": "list",
          "cachedResultName": "n8n job searches",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1d_HoOoRvXJw54eL35Vs69D6krqcXvx3Js6TTj6SnVls/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "filter",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1d_HoOoRvXJw54eL35Vs69D6krqcXvx3Js6TTj6SnVls/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        448,
        0
      ],
      "id": "6ae73935-334b-4f2a-8afc-bc7a5b994ee4",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9QwZpFROdNVMEFTi",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop through ALL items from the Google Sheet\nreturn $input.all().map(item => {\n  const json = item.json;\n\n  // --- 1. SMART COLUMN FINDER ---\n  // This helper function looks for the data even if the header name is slightly different\n  function getVal(baseName, altName) {\n    return json[baseName] ||             // Try \"Location\"\n           json[altName] ||              // Try \"B (Location)\"\n           json[baseName.toLowerCase()] || // Try \"location\"\n           json[baseName + \" \"] ||       // Try \"Location \" (with space)\n           \"\";                           // Default to empty\n  }\n\n  // Read the columns using multiple possible names\n  const keyword = getVal(\"Keyword\", \"A (Keyword)\");\n  const location = getVal(\"Location\", \"B (Location)\");\n  const experienceLevel = getVal(\"Experience Level\", \"C (Experience Level)\");\n  // Default Remote to \"On-site\" if we can't find the column\n  const remote = getVal(\"Remote\", \"D (Remote)\") || \"On-site\"; \n  const jobType = getVal(\"Job Type\", \"E (Job Type)\");\n  const easyApply = json[\"Easy apply\"] || json[\"F (Easy Apply)\"];\n\n  // --- 2. START BUILDING URL ---\n  let url = \"https://www.linkedin.com/jobs/search/?&f_TPR=r604800\";\n\n  // KEYWORD (e.g., \"(Data Analyst OR ...)\")\n  if (keyword && keyword !== \"\") {\n    url += `&keywords=${encodeURIComponent(keyword)}`;\n  }\n\n  // LOCATION (e.g., \"India\", \"USA\")\n  if (location && location !== \"\") {\n    url += `&location=${encodeURIComponent(location)}`;\n  }\n\n  // --- 3. APPLY FILTERS ---\n\n  // STRICT \"ON-SITE\" ONLY\n  // This forces the \"On-site\" filter (f_WT=1) unless you explicitly typed \"Remote\"\n  const r = remote.toString().toLowerCase();\n  if (r.includes(\"remote\")) {\n      url += \"&f_WT=2\";\n  } else if (r.includes(\"hybrid\")) {\n      url += \"&f_WT=3\";\n  } else {\n      // Default to On-site for everything else (including empty cells)\n      url += \"&f_WT=1\"; \n  }\n\n  // EXPERIENCE LEVEL (\"Intern\" -> 1)\n  const exp = experienceLevel.toString().toLowerCase();\n  if (exp.includes(\"intern\")) url += \"&f_E=1\";\n  else if (exp.includes(\"entry\")) url += \"&f_E=2\";\n  else if (exp.includes(\"associate\")) url += \"&f_E=3\";\n\n  // JOB TYPE (\"Full time\" -> F)\n  const jt = jobType.toString().toLowerCase();\n  if (jt.includes(\"full\")) url += \"&f_JT=F\";\n  else if (jt.includes(\"part\")) url += \"&f_JT=P\";\n\n  // EASY APPLY\n  if (easyApply === true || easyApply === \"TRUE\" || easyApply === \"true\") {\n    url += \"&f_EA=true\";\n  }\n\n  // --- 4. RETURN RESULT ---\n  return {\n    json: {\n      url: url,\n      // We add these debug fields so you can see WHICH location the code found\n      debug_location: location, \n      debug_keyword: keyword\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        0
      ],
      "id": "6cd19183-cea6-4274-ba15-11cfc49ddd53",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        896,
        0
      ],
      "id": "90c6c9ae-0c97-43eb-baa8-ca4d13bb512b",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "links",
              "cssSelector": "ul.jobs-search__results-list li div a[class*=\"base-card\"]",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1088,
        0
      ],
      "id": "cd916608-6910-48c9-98fe-0f96e8768080",
      "name": "HTML"
    },
    {
      "parameters": {
        "fieldToSplitOut": "links",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1296,
        0
      ],
      "id": "a1f7d359-7692-4275-9867-6c30028c8331",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2224,
        912
      ],
      "id": "49a67192-1899-48ec-8fea-159bb9542805",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        16,
        320
      ],
      "id": "32fb64f7-8edc-4560-887e-f80818c3b1e0",
      "name": "Wait",
      "webhookId": "8b115b1d-221e-44b9-8988-01327ded6c36"
    },
    {
      "parameters": {
        "url": "={{ $json.links }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        224,
        320
      ],
      "id": "257ac2f8-4ca0-4703-ac62-9a44f56a9abd",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "title",
              "cssSelector": "div h1",
              "returnArray": true
            },
            {
              "key": "company",
              "cssSelector": "div span a",
              "returnArray": true
            },
            {
              "key": "location",
              "cssSelector": "div span[class*='topcard__flavor topcard__flavor--bullet']",
              "returnArray": true
            },
            {
              "key": "description",
              "cssSelector": "div.description__text.description__text--rich",
              "returnArray": true
            },
            {
              "key": "jobid",
              "cssSelector": "a[data-item-type='semaphore']",
              "returnValue": "attribute",
              "attribute": "data-semaphore-content-urn",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        432,
        320
      ],
      "id": "12abd487-1a0f-42de-8a44-ad50c8f1b008",
      "name": "HTML1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8a3a4e01-196b-46e2-a2ac-3fac7ec35f42",
              "name": "description[0]",
              "value": "={{ ($json.description || \"\").toString().replace(/\\s+/g, \" \") }}",
              "type": "string"
            },
            {
              "id": "67a1b838-35af-41e0-a485-21f4f91889d0",
              "name": "jobid[0]",
              "value": "={{ ($json.jobid || \"\").toString().split(\":\").pop() }}",
              "type": "string"
            },
            {
              "id": "2086eb02-42b3-4744-a6ea-867ec689e37a",
              "name": "applylink",
              "value": "={{ \"https://www.linkedin.com/jobs/view/\" + ($json.jobid || \"\").toString().split(\":\").pop() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        320
      ],
      "id": "a7b25a6b-f724-464c-9b42-9f70b007f15f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        544,
        784
      ],
      "id": "654ef231-43ae-4420-b701-58fbe9174e28",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "MTnCJxt5wsGKubfR",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an assistant that helps match candidates to job opportunities. Your task is to review my resume, then analyze both the resume and job description to calculate a job matching score. Additionally, create a cover letter based on my resume and the job description. The cover letter should contain at least 2 paragraphs and should exclude the name, address, and signature sections from the beginning and end.\n\nWhen using special characters like quotation marks (\"), ensure they are properly escaped with a backslash. The output must be formatted as valid JSON that can be parsed without errors.\n\nFor example your response should be like: {\"score\": 80, \"coverLetter\": \"sample cover letter\" }\ni want you to make the cover letter with not more than just 100 words.\nMake it precise and Humanise it.\ndont use \"-\" in the entire cover letter.\n\n\njob_description: {{ $json.description }}\nmy_resume:{{ $('Get a document').item.json.content }}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        128,
        576
      ],
      "id": "0a88e44a-f9cc-4f29-9908-fb016599dbbc",
      "name": "Suitable?"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are helpful, intelligent resume writing assistant that drafts high converting resumes based on jobs.\nThis resume will be added at a Google Doc,  so write it in HTML format that I can easily copy/paste. Do not Output any Backticks(no ```). Your first Character should be <html>",
        "options": {
          "systemMessage": "=#overview\nI'm looking for jobs. Your task is to customize a provided resume using a provided job description.\n\n {{ $('Edit Fields').item.json.description[0] }}\n--\nHere is my Resume:\n{{ $('Get a document').item.json.content }}\nRespond with only the customized, updated resume-nothing else.\n\nThis resume will be added to google Doc, so write it in HTML format that i can easily Copy/Paste."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        544,
        576
      ],
      "id": "90a37e8a-0c4c-474c-9876-3820bb745e5c",
      "name": "Refine Resume"
    },
    {
      "parameters": {
        "folderId": "default",
        "title": "=CV-Aditya-{{ $('HTML1').item.json.company[0] }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1008,
        576
      ],
      "id": "44f4403a-3c2d-4191-b100-59f15b0b2fe0",
      "name": "Create a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "FbGkgM5Ht0CQ3Rcv",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "1K48nWlj9i5bkkZC360aQHIO-uKQl3xRZnLdysJD8m-o"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "40526777-8336-44b2-a866-7eafeb264f02",
      "name": "Get a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "FbGkgM5Ht0CQ3Rcv",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://www.googleapis.com/upload/drive/v3/files/{{ $json.id }}?uploadType=media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\":\"text/html\"\n}",
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ $('Markdown').item.json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1200,
        576
      ],
      "id": "27ac4ac8-3dd9-4334-ac3b-2a61033ea9c5",
      "name": "add resume text",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "FbGkgM5Ht0CQ3Rcv",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "html": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        848,
        576
      ],
      "id": "277b3f11-af53-4d3d-9cd4-71db7d55f924",
      "name": "Markdown"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1d_HoOoRvXJw54eL35Vs69D6krqcXvx3Js6TTj6SnVls",
          "mode": "list",
          "cachedResultName": "n8n job searches",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1d_HoOoRvXJw54eL35Vs69D6krqcXvx3Js6TTj6SnVls/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 487353551,
          "mode": "list",
          "cachedResultName": "result",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1d_HoOoRvXJw54eL35Vs69D6krqcXvx3Js6TTj6SnVls/edit#gid=487353551"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "title": "={{ $('HTML1').item.json.title[0] }}",
            "company": "={{ $('HTML1').item.json.company[0] }}",
            "location": "={{ $('HTML1').item.json.location[0] }}",
            "description": "={{ $('HTML1').item.json.description[0] }}",
            "link": "={{ $('Edit Fields').item.json.applylink }}",
            "score": "={{ $json.score }}",
            "cover letter": "={{ $json.coverLetter }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "link",
              "displayName": "link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cover letter",
              "displayName": "cover letter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1616,
        576
      ],
      "id": "c98157a4-50e1-46ab-aa7e-c221aefda095",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9QwZpFROdNVMEFTi",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "=\n {{ $('Suitable?').item.json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1408,
        576
      ],
      "id": "1cb12394-0a52-489a-b669-2141c7e1b9d4",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        128,
        784
      ],
      "id": "96a2acf7-2577-41bc-8950-45b049ccfa76",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "OzuDWf977XpuqkhJ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1024,
        320
      ],
      "id": "c5a31891-40e0-4d49-96f4-08c72b23fbd1",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        1440,
        336
      ],
      "id": "c5968c69-a08d-4dd0-b11e-c9b9c2860df2"
    },
    {
      "parameters": {
        "amount": 4
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        400,
        576
      ],
      "id": "1b43ce71-16b5-493e-b40c-95819d9ce0e2",
      "name": "Wait1",
      "webhookId": "ae88f50b-0c99-464c-a2c8-a6b43923f703"
    },
    {
      "parameters": {
        "amount": 4
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1216,
        304
      ],
      "id": "894976d7-a61b-4344-b505-fd8def2a40a3",
      "name": "Wait2",
      "webhookId": "6a452436-ed8e-469a-bc25-7643a8a0b059"
    },
    {
      "parameters": {
        "amount": 4
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1040,
        720
      ],
      "id": "1f878b7a-2c21-4f3d-9a2c-e6dfc787cd5d",
      "name": "Wait3",
      "webhookId": "418f0ee7-8ded-449b-bcdc-edd5336d700a"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Refine Resume",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Suitable?": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refine Resume": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document": {
      "main": [
        [
          {
            "node": "add resume text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Create a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add resume text": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Suitable?",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Refine Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Suitable?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "050c01e3-e929-48ef-801f-236c031b8708",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "72e4f6b4f892eb6a036455f77c7557918fe1364972fd9574f3b6ea9760d71f60"
  },
  "id": "_U4TSHe-2rr4lK4ous6m1",
  "tags": []
}